.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

h2 > span {
    color: red;
}

.loaderWrapper {
  position: absolute;
  left: calc(50% - 60px);
}

.buttonList {
  margin-top: 25px;
  margin-bottom: 25px;
}
