<div class="loaderWrapper" *ngIf="!ratings || ratings.length === 0">
  <div class="loader"></div>
  <span>Získávání ratingů...</span>
</div>
<div class="buttonList" *ngIf="ratings">
  <button *ngFor="let rating of ratings" (click)="onSelectRating(rating)"
          type="button" class="btn btn-lg btn-block active" [class.btn-success]="selectedRating && (rating.id === selectedRating.id)">{{rating.name}}
  </button>
</div>
<div class="loaderWrapper" *ngIf="avgAmount === null">
  <div class="loader"></div>
  <span>Zpracovávám...</span>
</div>
<div *ngIf="avgAmount">
  <h2>Rating: <span>{{selectedRating && selectedRating.name}}</span></h2>
  <h2>Průměrná výše půjček: <span>{{MarketService.formatCurrency(avgAmount)}} Kč</span></h2>
</div>
